pandas
flask
pypandoc
google-generativeai
python-docx 
Pillow
spire.doc
python-docx==0.8.11
pymupdf
boto3
langchain_community
python-dotenv
streamlit
aiohttp
prometheus-client
streamlit 
boto3
python-dotenv
py_mini_racer
langchain
langchain-community
bokeh==2.4.3
langid
langdetect
pylint
#black
#cppcheck
clang-format
requests
flake8
ruff
fastapi
uvicorn
pydantic
deepeval