pandas
flask
pypandoc
google-generativeai
python-docx 
Pillow
spire.doc
python-docx==0.8.11
pymupdf
langchain_community
aiohttp
prometheus-client
py_mini_racer
langchain
langchain-community
bokeh==2.4.3
langid
langdetect
pylint
#black
#cppcheck
clang-format
requests
flake8
ruff
fastapi
uvicorn
pydantic
deepeval

torch==2.4.1
Byaldi==0.0.5
accelerate
# flash-attn
# qwen_vl_utils
pdf2image
python-dotenv
streamlit==1.39.0
boto3==1.35.32
PyPDF
colpali_engine==0.3.1

flask
matplotlib
seaborn
openpyxl
yellowbrick
plotly

sentence-transformers==3.1.1
transformers==4.45.1
botocore==1.35.32
huggingface-hub==0.25.1
protobuf==5.28.2
# sudo apt-get install -y poppler-utils


faiss-cpu
PyPDF2
scikit-learn
asyncio
